<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525508908544-uug1rglh8gl9u50ftad46sd8jbnq0v0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525508908544-uug1rglh8gl9u50ftad46sd8jbnq0v0m</string>
	<key>API_KEY</key>
	<string>AIzaSyAUlTNhzkTcVQiHXNaiotPR6TooWMqTcIM</string>
	<key>GCM_SENDER_ID</key>
	<string>525508908544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickrun5</string>
	<key>PROJECT_ID</key>
	<string>quicktime-d85b1</string>
	<key>STORAGE_BUCKET</key>
	<string>quicktime-d85b1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525508908544:ios:7bab71e6934c2873d42ae5</string>
</dict>
</plist>